*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Emilys Candy";
    font-size: medium;
    text-align: center;
}
::-webkit-scrollbar {
    display: none;
}
/* display -> grid */
:is(body, .card) {
    display: grid;
}
/* Number of rows */
:is(body) {
    grid-template-rows: auto minmax(100dvh, 100%) auto;
}
/* navbar */
.navbar {
    background-color: pink;
    & img[alt='logo'] {
        width: 5rem;
    }
    
}
/* All the images */
img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}
/* text-align: center */
:is(h2, h5, footer p) {
    text-align: center;
}
/* button */
.button {
    background-color: pink;
    color: white;
    justify-content: center;
}
.card {
    width: 18rem;
    & img {
        object-fit: contain;
        padding-block: .0rem;
        object-position: center;
        object-fit: cover;
    }
    & .card-body {
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 4;
    }
}
@media screen and (width < 768px) {
    :is(.col) {
        padding-block: .2rem;
        & button {
            width: 100%;
        }
    }
}

/* HOME PAGE */
.container-fluid1 {
    min-height: 89.8vh;
    display: grid;
    place-items: center;
    background-image: url(https://asheekasamuels.github.io/All-Images/images/candyland.webp);
    background-size: cover;
    background-position: center;
    border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    color: white;

}
.card{
    background: transparent;
    text-align: center;
}

@media (min-width: 767px) {
    .body {
        max-width: 480px;
        margin: 0 auto;
    }
}
/* end of home page */

/* ABOUT PAGE */
.container-fluid3 {
    background-image: url(https://asheekasamuels.github.io/All-Images/images/candyland.webp);
    background-size: cover;
    background-position: center;
    border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
    color: white;

}

.container3 {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-evenly;
    align-items: center;
    width: 250px auto;
    
}
#box1 {
    margin-top: 25px;
    width: 300px;
    background-color: transparent;
    color: white;
    box-shadow: 0 0 20px 0 pink;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    height: 450px auto;
}
#head3 {
    text-align: center;
    padding-top: 50px;
}
.p2 {
    font-family:  'Lora', serif;
}
/* end of about page */

/* Checkout page */
.container-fluid6 {
    min-height: 89.8vh;
    place-items: center;
    background-image: url(https://asheekasamuels.github.io/All-Images/images/candyland.webp);
    background-size: cover;
    background-position: center;
    border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    color: white;

}
.purchaseButton{
    text-align: center;
    display: grid;
    place-items: center;
    color: white;
    background-color: pink;
    border: none;
    padding: 5px;
    border-radius: 15px;
}
.clearButton{
    text-align: center;
    display: grid;
    place-items: center;
    color: white;
    background-color: pink;
    border: none;
    padding: 5px;
    border-radius: 15px;
}
/* end of checkout page */

/* PRODUCTS PAGE */
.container-fluidP{
    background-image: url(https://asheekasamuels.github.io/All-Images/images/candyland.webp);
    background-size: cover;
    background-position: center;
    border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    color: white;
    display: grid;
    place-items: center;
    min-height: 89.8vh;
}
.btn{
    background-color: lightblue;
}
.card{
    box-shadow: 0 0 20px 0 pink;
    border-radius: 15px;
    padding: 10px;
    background: transparent;
    color: white;
}
/* end of products */

/* START OF CONTACT FORM */

.container-fluid4{
    background-image: url(https://asheekasamuels.github.io/All-Images/images/candyland.webp);
    background-size: cover;
    background-position: center;
    border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    color: white;
}

.contact {
    align-items: left;
    background-color: transparent;
    color: white;
    width: auto;
    left: auto;
}

.contact .heading-text {
    background-color: pink;
}
.submit,
.reset {
  color: white;
  border: 2px solid white;
  margin-left: 5px;
  margin-right: 5px;
  --bg: #000;
  transition: 0.2s;
  align-items: center;
}
.submit:hover,
.reset:hover {
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: 0.25rem 0.25rem var(--bg);
  background: pink!important;
  color: white !important;
  border: 2px solid white;
}
.container-fluid4 {
    @media screen and (max-width: 300px) {
        min-height: 700px;
    }
}
/* end of contact form */

/* START OF ADMIN PAGE */
.container-fluid5{
    background-image: url(https://asheekasamuels.github.io/All-Images/images/candyland.webp);
    background-size: cover;
    background-position: center;
    border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    color: white;
}

#inputs {
    margin-bottom: 20px;
  }
  
  #inputs label {
    margin-right: 10px;
  }
  
  #inputs input {
    margin-right: 10px;
  }
  
  .addButton {
    margin-top: 10px;
  }
  
  .container-fluid5 {
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead th,
  tbody td {
    padding: 10px;
    text-align: left;
  }
  
  thead th {
    background-color: pink;
  }
  
  tbody td {
    border-top: 1px solid #ddd;
  }
  
  .img-head {
    width: 100%;
  }
  .table-img {
    height: 130px;
    width: 130px;
  }
/* end of admin page */

/* START OF FOOTER*/
footer {
    background-color: pink;
    padding: 20px 0;
    text-align: center;
    color: black !important;
    width: 100%;
    
}

.card1 {
    width: 60px;
    height: 60px;
    outline: none;
    border: 1px solid black;
    background: transparent;
    border-radius: 90px 5px 5px 5px;
    transition: .2s ease-in-out;
}

.instagram {
    margin-top: 0.8em;
    margin-left: 0.6em;
    fill: black;
}

.card2 {
    width: 60px;
    height: 60px;
    outline: none;
    border: 1px solid black;
    background: transparent;
    border-radius: 5px 90px 5px 5px;
    transition: .2s ease-in-out;
}

.facebook {
    margin-top: 0.8em;
    margin-left: -.5em;
    fill: black !important;
}

.card3 {
    width: 60px;
    height: 60px;
    outline: none;
    border: 1px solid black;
    background: transparent;
    border-radius: 5px 5px 5px 90px;
    transition: .2s ease-in-out;
}

.github {
    margin-top: -.4em;
    margin-left: 0.8em;
    fill: white;
}

.card4 {
    width: 60px;
    height: 60px;
    outline: none;
    border: 1px solid black;
    background: transparent;
    border-radius: 5px 5px 90px 5px;
    transition: .2s ease-in-out;
}

.linkedin {
    margin-top: -.6em;
    margin-left: -0.6em;
    fill: black;
}

.card1:hover {
    cursor: pointer;
    scale: 1.1;

}

.card1:hover .instagram {
    fill: black;
}

.card2:hover {
    cursor: pointer;
    scale: 1.1;

}

.card2:hover .twitter {
    fill: black;
}

.card3:hover {
    cursor: pointer;
    scale: 1.1;

}

.card3:hover .github {
    fill: black;
}

.card4:hover {
    cursor: pointer;
    scale: 1.1;

}

.card4:hover .discord {
    fill: black;
}
/* end of footer */