*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
::-webkit-scrollbar {
    display: none;
}

/* display -> grid */
body {
    display: grid;
}

/* number of rows */
body {
    grid-template-rows: auto minmax(100%, 100dvh) auto;
}

/* navbar */
.navbar{

    & img[alt='logo'] {
        width: 5rem;
    }
}

/* All the images */
img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

/*text-align: center */
:is(h2, footer p) {
    text-align: center;
}

.card {
    height: auto;
    display: flex;
    flex-direction: column;
    border: 2px solid #5e6469;
    border-radius: 10px; 
    overflow: hidden;
  }
  
  .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-title, .card-text {
    margin-bottom: 0.5rem;
  }

/* ABOUT PAGE */
.container3 {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    width: 250px auto;
}
#box1 {
    margin-top: 25px;
    width: 500px;
    background-color: #a3b18a;
    color: #fff;
    box-shadow: 0 0 20px 0 #3a5a40;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    height: 450px auto;
}
.p2 {
    font-family: cursive;
}
/* end of about page */
